
  @font-face {
    font-family: JostBold;
    src: url(static/Jost-Bold.ttf);
  }
  @font-face {
    font-family: JostRegular;
    src: url(static/Jost-Regular.ttf);
  }
  @font-face {
    font-family: JostItalic;
    src: url(static/Jost-Italic.ttf);
  }
  @font-face {
    font-family: kattyPurry;
    src: url(static/kattyPurry.ttf);
  }

*{
    padding: 0;
    margin:0;
    border: none;
    /* border: 1px solid red; */
}
body{
    background-color: #00828b;  
}

/* top barla ilgili  */  
    .topBar {
        display: block;
        position: relative;
        background-repeat: no-repeat;
        background-size: 100%;
        
    }
    .buttonMenu {
        display: inline;
        float: right;
    }

    #logo {
        margin-top: 10px; 
        margin-bottom: 10px;
        margin-left: 5% ;
        margin-right: 60px;
        width:50px ;
        max-width: 50px;
        z-index: 5;
    }
    button {
        
        margin-top: 20px; 
        margin: 10px;
        min-height: 50px;
        text-align: center;
        font-size: 1.3vw;
        min-width: 2z0px;
        font-family: JostBold;
        background-color: transparent;
        color: #ffffff;   
    }

    a {
        margin-left: 15px; 
        margin-right: 15px;
    }

    a:link {
        color: rgb(255, 255, 255); 
        text-decoration: none;
    
    }

    a:visited {
        color: rgb(255, 255, 255); 
        text-decoration: none;
    }

    a:hover {
        font-size: 1.1em;
        color: rgb(219, 81, 81);
        
    }

/* top barla ilgili  */


/* indexle ilgili */
    .ortabolum {
        text-align: center;
        color: #ffffff;   
        background-image: url(products.png);
        background-size: cover;
        background-position: center;
        height: 100vh

    }
    #buyukyazi {
        align-self: center ;
        margin-top:1em ;
        font-size: 7vw ;
        font-family: kattyPurry;
        line-height: 0.9em ;

    }

    #kucukyazi {
        margin-top:0px ;
        font-size: 1.5vw ;
        font-family: JostRegular;
    }

    #cv {
      display: inline;
    }
/* indexle ilgili */



#solfoto {
  width: 45vw;
  float: left;
  position: fixed;
  bottom: 0;
  
}
.gridcontainer{
  position: fixed;
  right: 0;
  margin-right: 9vw;
  margin-top: 3vw;
  display: grid;
  float: right;
  grid-template-columns: auto auto  ;
  grid-template-rows: auto auto auto ;
  /* grid-gap: 10px 20px; */
}

.cv{
  font-size: 15px ;
  font-family: JostRegular;
  color: #ffffff;   
  margin: 10px;
  list-style-type: none;
}
.header{
  font-size: 20px ;
  font-family: JostBold;
  color: #e69293;
}
#intro{
  font-size: 4vw ;
  font-family: kattyPurry;
  grid-column: span 2 ;
  color: #ffffff;   
}
#form {
width: 50vw;
}



/* şekilli yazı şeyleri */
/* .container{
  width: 800px;
  margin: 0 auto;
}

.mask {
    fill: none;
    stroke: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .Letters {
    cursor: pointer;
    fill: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  } 
  
  
  .mask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  @keyframes strokeOffset {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  
  #maskU {
    animation: strokeOffset 1s linear forwards;
  }
  #maskM1 {
    animation: strokeOffset 1s linear forwards 1s;
  }
  #maskA {
    animation: strokeOffset 0.5s linear forwards 2s;
  }
  #maskY {
    animation: strokeOffset 0.5s linear forwards 2.5s;
  }
  #maskD {
    animation: strokeOffset 0.5s linear forwards 3s;
  }
  #maskE1 {
    animation: strokeOffset 0.5s linear forwards 3.5s;
  }
  #maskM {
    animation: strokeOffset 0.5s linear forwards 4s;
  }
  #maskI {
    animation: strokeOffset 0.5s linear forwards 4.5s;
  }
  #maskR {
    animation: strokeOffset 0.5s linear forwards 5s;
  }
  #maskE {
    animation: strokeOffset 0.5s linear forwards 5.5s;
  }
  #mask-Ll {
    animation: strokeOffset 0.5s linear forwards 6s;
  } */
  